<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit post</title>

</head>

<body>
 <!-- headerstart -->
 <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/twitter">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/create-new-post">Message</a>
    </li>
  </ul>
  <!-- headerstart --> 
            <div>
                <form action="/submit-edit/<%= info._id %>" method="post">
                    <label for="title">Title::</label>
                    <input id="title" type="text" name="title" placeholder="title" value="<%= info.title %>">
                    <br>
                    
                    
                    
                    
                    <label for="desc">Tweet:</label>
                    <input id="desc" type="text" name="desc" placeholder="desc" value="<%= info.desc %>">
                    <br><br><br><br>

                    <button>update</button>
                </form>
                <% if(err) { %>
                    <h6><%= err%></h6><% } %>
            </div>
            <!-- <form action="">
        <input type="text" name="title" placeholder="title"  value="<%= info.title %>">
    </form> -->

</body>

</html>